<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>介绍-Haoyuli的博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/layui/css/layui.css">
	<link rel="stylesheet" href="/static/css/mian.css">
</head>
<body class="lay-blog">
{{template "comm/header.html" .}}
		<div class="container-wrap">
			<div class="container container-message container-details container-about">
					<div class="contar-wrap">
						<div class="item">

							<div class="kratos-hentry kratos-post-inner clearfix">
								<div class="kratos-post-content"><h1 class="kratos-entry-title text-center" style="font-size:30px;font-weight:400;color:#333333;text-align:center;">
									打赏博主<br>
								</h1>
									<p></p>
									<p style="color:#333333;">
										我们一起来让这个世界有趣一点，听说打赏我的人最后都找到了真爱。听说打赏我的人，都进了福布斯排行榜，打赏的都是天使，打赏了的人都会变美~
									</p>
									<h2 style="font-weight:400;color:#333333;font-size:30px;background-color:#F7F7F7;text-align:center;">
										<br>打赏方式<br>
										<br>
									</h2>
									<p style="color:#333333;">
										<span style="font-size:14pt;">方式一</span>
									</p>
									<p style="text-align:center;color:#333333;">
										<img src="/static/images/alipay.jpg" layer-index="0"></a>
									</p>
									<p style="color:#333333;text-align:center;">
										通过支付宝手机客户端扫描上面的二维码进行赞助
									</p>
									<p style="color:#333333;">
										<span style="font-size:14pt;">方式二</span>
									</p>
									<p style="color:#333333;text-align:center;">
										<img src="/static/images/wechat.png" alt="《打赏》" layer-index="1"></a>
									</p>
									<p style="color:#333333;text-align:center;">
										通过微信手机客户端扫描上面的二维码进行赞助
									</p><p></p>
								</div>

							</div>

						</div>			
					</div>
			</div>
		</div>
{{template "comm/footer.html" .}}
</body>
</html>