<div class="footer">
    <p>
        <span>Copyright © 2018--2019 <a href="https://www.lichuachua.com/" >www.lichuachua.com</a> All Rights Reserved</span>
        <span><a href="https://user.qzone.qq.com/1065618302/infocenter" >李歘歘的QQ空间</a></span>
        <span><a href="https://blog.csdn.net/qq_42410605" target="_blank">李歘歘的CSDN</a></span>
    </p>
    <p>
        <span><a href="https://github.com/lichuachua" target="_blank">Github地址</a></span>
        <span><a href="http://www.beian.miit.gov.cn" target="_blank">备案号:晋ICP备19005181号-1</a></span>
        <span><a href="https://weibo.com/u/6585073438?is_hot=1" target="_blank">新浪微博</a></span>

    </p>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/js/'
    }).use('blog');
</script>